:root {
 /*Brand */
  --bg-color: #051026;
  --blue-color: #0c70f2;
  --blue-dark-color: #0b438c;
  --green-color: #08a63f;
  --mostaza-color: #dedede;
  --text-color: #efefeff9
  --morado-color: #85006e;
  --rosado-color: #ca265f;
}

